doctype html
html(lang='en')
  head
    title= title
  body
    form(action='sendBorough', method='get')
      | #{message}: 
      br
      br
      input(type='text', name='quartiere')
      br
      br
      input(type='submit', value='invia')